@import url("base16/helios.css");

body {
  background-color: var(--base00);
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444444;
  padding: 0 10px
}

h1, h2, h3 {
  line-height: 1.2
}

a {
  color: var(--base0B)
}

p, li {
  color: var(--base07)
}

pre {
  color: var(--base0A)
}1
