@import url("base16/helios.css");

body {
  background-color: var(--base00);
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: var(--base07);
  padding: 0 10px;
  font-family: Courier;
}

h1, h2, h3 {
  line-height: 1.2
}

a {
  color: var(--base0B)
}

pre {
  color: var(--base0A)
}

.ascii {
   color: var(--base07);
   font-size:10;
   font-weight: bold;
}
